body {
  background: linear-gradient(#c1bdbe, #847f7f);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flag {
  width: 600px;
  height: 400px;
  position: relative;
  margin-top: 20px;
}

#japan {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

#japan::after {
  content: "";
  width: 240px;
  height: 240px;
  border-radius: 120px;
  background-color: #c40505;
  position: absolute;
  
}

#czech {
  background-color: #ffffff;
}

#czech::before {
  content: "";
  background-color: #ed0918;
  width: 600px;
  height: 200px;
  position: absolute;
  top: 200px;
}

#czech::after {
  content: "";
  position: absolute;
  background-color: transparent;
  position: absolute;
  border-top: 200px solid transparent;
  border-bottom: 200px solid transparent;
  border-right: 300px solid transparent;
  border-left: 300px solid #0927ed;
}

#micronesia {
  background-color: #75B2DE;
}

.star {
  color: #ffffff;
  font-size: 80px;
  position: absolute;
  top: 40px;
  left: 260px;
}
.star:nth-child(2) {
  transform: rotate(20deg) translate(130px,50px);
}

.star:nth-child(3) {
  transform: rotate(180deg) translate(0px, -200px);
}

.star:nth-child(4) {
  transform: rotate(-20deg) translate(-130px,50px);
}